/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:white;
  background-size: auto 100vh; 
  font-family: 'Comfortaa', cursive;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
  .site-title {
    font-size: 4em;

  }

}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  background-color: #12181f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

.menu a {
  color:#12181f;
  display: block;
  padding: 10px 20px;
  border-bottom: 2px solid white;
  transition: background-color .3s, color .3s;
}

.menu a:hover{
  background-color: teal;
  color: whitesmoke;
}

a {

  text-decoration: none;
}

.menu a:hover {
  border-bottom: 2px solid #f1c40f;
  
}

.titulo{
  transform: scale(0.2) translateY(50vh);
  opacity: 0;

  animation: cubic-bezier(0.87, 0.32, 0.39, 0.81) 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{
   
   100%{
    transform: scale(1) translateY(0);
    opacity: 1;
   }
}

.site-subtitle, 
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  color:#f1c40f;
  font-size: 4em;
  font-family: 'Permanent Marker', cursive;
  text-transform:uppercase;
}

.site-subtitle {
 font-style: italic;
 font-family: 'Comfortaa', cursive;
 line-height: 1.8em;
}

.sobre,
.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  
}

@media (min-width:1200px){
.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}

.sobre,
.contato h2,
.portfolio h2 {
  font-family: 'Permanent Marker', cursive;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.sobre p{
  color:white;
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  text-align: justify;
}
.sobre a:hover{
  background-color: cyan;
  text-decoration: underline;
} 
.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
}
.img-portfolio:hover{
  transform: scale(1.1);
}

.contato{
  background-color:#12181f;
}
.contato .icons{
  text-align: center;
}

.contato a{
  color: whitesmoke;
  font-size: 4em;
  
}
.contato a:active,
.contato a:hover{
  border-bottom: none;
  text-shadow:0px 0px 10px yellow ;
}
